# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
#print(g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:

vacation_df=pd.read_csv("output_data/cities.csv")
vacation_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Toba,34.48,136.85,26.67,78,20,3.60,JP,1596229847
1,1,Buraidah,26.33,43.98,38.00,24,20,1.50,SA,1596229733
2,2,Mīnāb,27.15,57.08,33.00,75,40,5.10,IR,1596229847
3,3,Palmer,42.16,-72.33,31.67,40,40,3.10,US,1596229847
4,4,Lasem,-6.69,111.45,23.09,82,23,2.95,ID,1596229848

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=g_key)

In [8]:
fig = gmaps.figure()
locations=vacation_df[["Lat","Lng"]]
humidity=vacation_df["Humidity"]

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=200,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
final_df=vacation_df.loc[(vacation_df["Max Temp"]<26.6) & (vacation_df["Max Temp"]>21.11) & (vacation_df["Wind Speed"]<10) 
                         & (vacation_df["Cloudiness"]==0)].dropna()
final_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
20,20,Vaitape,-16.52,-151.75,26.58,81,0,6.39,PF,1596229748
81,81,Abu Samrah,35.30,37.18,25.04,55,0,5.58,SY,1596229862
126,126,Mahon,39.89,4.27,26.00,88,0,2.40,ES,1596229750
157,157,Soyo,-6.13,12.37,22.40,82,0,3.95,AO,1596229695
163,163,Faanui,-16.48,-151.75,26.11,83,0,6.40,PF,1596229682
208,208,Salamiyah,35.01,37.05,23.85,63,0,5.03,SY,1596229885
350,350,Mato Verde,-15.40,-42.87,22.22,41,0,3.75,BR,1596229911
355,355,Kaka,37.35,59.61,24.08,30,0,3.61,TM,1596229912
383,383,Kiryat Gat,31.61,34.76,26.11,57,0,0.26,IL,1596229917
469,469,Emmen,52.78,6.91,22.22,64,0,1.50,NL,1596229936
476,476,Karpathos,35.51,27.21,25.00,78,0,9.30,GR,1596229812
492,492,Grasse,43.67,6.92,25.00,83,0,1.00,FR,1596229941
493,493,Eichenzell,50.49,9.70,21.67,61,0,0.89,DE,1596229941
545,545,Zuwārah,32.93,12.08,26.57,72,0,5.17,LY,1596229951
547,547,Emirdağ,39.02,31.15,21.18,48,0,1.56,TR,1596229952

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [16]:
hotel_df=final_df[["City","Lat","Lng","Country"]]
hotel_df

           City    Lat     Lng Country
20      Vaitape -16.52 -151.75      PF
81   Abu Samrah  35.30   37.18      SY
126       Mahon  39.89    4.27      ES
157        Soyo  -6.13   12.37      AO
163      Faanui -16.48 -151.75      PF
208   Salamiyah  35.01   37.05      SY
350  Mato Verde -15.40  -42.87      BR
355        Kaka  37.35   59.61      TM
383  Kiryat Gat  31.61   34.76      IL
469       Emmen  52.78    6.91      NL
476   Karpathos  35.51   27.21      GR
492      Grasse  43.67    6.92      FR
493  Eichenzell  50.49    9.70      DE
545     Zuwārah  32.93   12.08      LY
547     Emirdağ  39.02   31.15      TR

In [18]:
hotel_df["Hotel Name"]=""
hotel_df

C:\Users\Nebey\Anaconda3\envs\NewPythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

           City    Lat     Lng Country Hotel Name
20      Vaitape -16.52 -151.75      PF
81   Abu Samrah  35.30   37.18      SY
126       Mahon  39.89    4.27      ES
157        Soyo  -6.13   12.37      AO
163      Faanui -16.48 -151.75      PF
208   Salamiyah  35.01   37.05      SY
350  Mato Verde -15.40  -42.87      BR
355        Kaka  37.35   59.61      TM
383  Kiryat Gat  31.61   34.76      IL
469       Emmen  52.78    6.91      NL
476   Karpathos  35.51   27.21      GR
492      Grasse  43.67    6.92      FR
493  Eichenzell  50.49    9.70      DE
545     Zuwārah  32.93   12.08      LY
547     Emirdağ  39.02   31.15      TR

In [21]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotel
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df

Missing field/result... skipping.
Missing field/result... skipping.

,City,Lat,Lng,Country,Hotel Name
20,Vaitape,-16.52,-151.75,PF,Conrad Bora Bora Nui
81,Abu Samrah,35.30,37.18,SY,
126,Mahon,39.89,4.27,ES,ARTIEM Capri
157,Soyo,-6.13,12.37,AO,Hotel Mpampa
163,Faanui,-16.48,-151.75,PF,Bora-Bora Pearl Beach Resort & Spa
208,Salamiyah,35.01,37.05,SY,Gondolas Forum grandchildren and grandparents
350,Mato Verde,-15.40,-42.87,BR,Quality Hotel
355,Kaka,37.35,59.61,TM,
383,Kiryat Gat,31.61,34.76,IL,רגע בנחת
469,Emmen,52.78,6.91,NL,Hotel ten Cate
476,Karpathos,35.51,27.21,GR,Alex
492,Grasse,43.67,6.92,FR,LA BASTIDE SAINT ANTOINE
493,Eichenzell,50.49,9.70,DE,Hotel Landgasthof Kramer
545,Zuwārah,32.93,12.08,LY,سالمة نورالدين المخزوم الزليطني
547,Emirdağ,39.02,31.15,TR,emirdağ oteli

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig
# Display figure

Figure(layout=FigureLayout(height='420px'))